body{background-color: rgb(28, 188, 209);
}
h1{
    text-align: center;
    color: rgb(119, 0, 255);
    font-size: 500%;
      
}
h2{ 
    text-align: center;
    color: rgb(52, 22, 100);
    font-size: 150%;
}
#pia{
    margin-left: 33%;
    border-style:groove;
    border-radius: 10%;
    border-color: rgb(167, 76, 209);
    border-width: 15px;
    width: 550px;
}
h3{
    text-align: center;
    color: rgb(119, 0, 255);
    font-size: 500%;
        border-style: dashed;
    border-radius: 10%;
    border-color: rgb(192, 177, 39);
    border-width: 10px;
    margin-left: 35%;
    margin-right: 35%;

}

